body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.parallax {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.p1 {
  background-image: url("");
}

.p2 {
  background-image: url("");
}
