body {
    font: "Adobe Gothic Std B";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;

}

.profile-card {
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.profile-card img {
    max-width: 90%;
    border-radius: 5px;
    max-height: 90%;
}

.profile-card h1 {
    font-size: 24px;
    margin: 10px 0;
}

.profile-card p {
    color: #555;
}

.profile-card a {
    text-decoration: none;
    background-color: rgb(22, 78, 78);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    display: inline-block;
    transition: background-color 0.3s;
}

.profile-card a:hover {
    background-color: rgb(129, 153, 146);
}

.iei {
    display: flex;
    margin-top: 20px;
    max-width: 30px;
    max-height: 30px;
    gap:35px;
}