body {
    padding: 3rem 0;
    background-color: #fff;
}

.grid {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}
/* .container{
    width: 1140px;
    margin: 0 auto;
    
} */