body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
.btn{
    background-color: rgb(36, 17, 17);
    border:none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

}